*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    padding: 20px 0;
    color: white;    
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #36536B;
}
.btn{
    background-color: #BA4270;
    color: white;
    padding: 10px 20px;
    border-radius: 24px;
}
.hero{
    padding: 100px 0 30px;
    align-items: center;
    height: 546px;
}
.hero .container{   
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h1{
    font-size: 60px;
    line-height: 70px;
    color: #36536B;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero2{
    padding: 100px 0 30px;
    align-items: center;
    height: 546px;
}
.hero2 .container{   
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero2 h1{
    font-size: 60px;
    line-height: 70px;
    color: #36536B;
    font-weight: 600;
    margin-bottom: 20px;
}
.ota{
    padding: 100px 0 30px;
    align-items: center;
    height: 546px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}





footer{
    margin-top: 50px;
    text-align: center;
  background-color: #1b2c38;
  padding: 20px 0;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}   



